   /* Estilo geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #aaff00;
    color: #ff0000;
  }
  
  /* Cabeçalho */
  header {
    background-color: #9aa19a;
    color: white;
    padding: 2rem 1rem;
    text-align: center;
  }
  
  /* Navegação */
  nav {
    background-color: #11fcdc;
    text-align: center;
    padding: 1rem;
  }
  
  nav a {
    color: rgb(2, 243, 231);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
  }
  
  /* Conteúdo principal */
  .container {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
  }
  
  /* Seções */
  .section {
    margin-bottom: 2rem;
  }
  
  .section h2 {
    color: #0ea0e4;
    margin-bottom: 1rem;
  }
  
  .section p {
    line-height: 1.6;
  }
  
  /* Espaço do aluno */
  .custom-area {
    background-color: #00eeff;
    border: 2px dashed #4bc4c9;
    padding: 1rem;
    text-align: center;
    color: #1669d4;
    margin-top: 1rem;
  }
  
  /* Rodapé */
  footer {
    background-color: #00ccff;
    color: rgb(0, 255, 200);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }